html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
    text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}
.container {
	margin-top: 20px;
}
.title {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
}
.home {
	margin-top: 15%;
    text-align: center;
}
.selector {
	margin-left: 15px;
	margin-bottom: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}