{{#partial "contenido"}}
	<div>
	    <h1>Evaluacion de Indicadores</h1>	
		<h2>Seleccione un Indicador</h2>		
		<div class="btn-group">
		  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Indicadores
		  </button>
		  <div class="dropdown-menu">
			<a class="dropdown-item" href="#">Indicador1</a>
			<a class="dropdown-item" href="#">Indicador2</a>
			<a class="dropdown-item" href="#">Indicador3</a>		
		  </div>
		</div>	
		<div class="col-lg-6">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon1">Ingrese año:</span>
			  <input type="number" class="form-control"aria-describedby="basic-addon1">
			</div>
		</div>	
		<div class="col-lg-6">
			<div class="input-group">
			  <span class="input-group-addon" id="sizing-addon1">Ingrese semestre:</span>
			  <input type="number" class="form-control" aria-describedby="basic-addon1">
			</div>
		</div>				
		<button type="button" class="btn btn-success">Aplicar</button>	
		<button type="button" class="btn btn-success">Volver al Menu</button>
	</div>
{{/partial}}
{{>layout.hbs}}