{{#partial "contenido"}}
	<div>      
	    <form action="/login" method="POST" class="placeholder">
			<div class="form-group">
				<label for="username"><h5 class="margin-right-10">Nombre de usuario:</h5></label>
				<input type="text" name="username">
			</div>
			<div class="form-group">
				<label for="password"><h5 class="margin-right-75">Contraseña:</h5></label>
				<input type="password" name="password">
			</div>   	   									
			<input class="btn btn-outline-dark" type="submit" value="Iniciar Sesion">		
		</form>		 			
	</div>
{{/partial}}
{{>layout.hbs}}