{{#partial "contenido"}}
	<div>
		<div class="title">
			<h1>Visualizacion de Cuentas</h1>
		</div>
		<div class="row selector">
			<h4 class="margin-right-10">Seleccione una Empresa:</h4>
			<div class="btn-group">
				<button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Empresas
				</button>
				<div class="dropdown-menu">
					{{#each empresas}}
						<a class="dropdown-item" href="/empresas/{{id}}/cuentas">{{name}}</a>
					{{/each}}
				</div>
			</div>
		</div>
		<table class="table table-bordered table-hover">
			<thead class="thead-inverse">
				<tr>
					<th>Nombre</th>
					<th>Valor</th>
					<th>Año</th>
					<th>Semestre</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cuenta 1</td>
					<td>1.0</td>
					<td>2016</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Cuenta 2</td>
					<td>5.0</td>
					<td>2016</td>
					<td>2</td>
				</tr>
				<tr>
					<td>Cuenta 3</td>
					<td>8.0</td>
					<td>2016</td>
					<td>2</td>
				</tr>
			</tbody>
		</table>
	</div>
{{/partial}}
{{>layout.hbs}}